<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Тест vuejs 2</title>
</head>
<body>
   
   <div id="app" class="main">
      
           <ul class="chat">
               <li v-for="message in messages" >{{ message.message }}<hr></li>
           </ul>
        <form>
               <input class="inp" v-model="message" @blur="autoFocus" v-focus type="text">
               <button @click.prevent = "onClick">Отправить</button>
       </form>
   </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
    <script>
        

        Vue.directive('focus', {
          inserted: function (el) {
            el.focus()
          }
        })
        
       new Vue({
           
           el: "#app",
           methods: {
               onClick: function(){
                   if(this.message){
                    this.messages.push({message:"Я:  "+this.message});
                    this.getPost();
                    this.message = "";
                   }
               },
               
               autoFocus: function(){
                   this.$el.childNodes[2]["0"].focus();
               },
                   
              getPost: function(){
                this.$http.post('/api/get-answer', 'q='+this.message, {headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).then(function(resp){
                    //console.log(resp.body.a);
                    this.messages.push({message:"Кабзон:  " + resp.body.a});
                }, function(err){
                    console.log(err);
                }, function(notif){
                    console.log(notif);
                });
            }
           },
           data: {
               endpoint: "/api/get-answer",
               message: "",
               messages: [
                   {message: "Напиши мне, Напиши...."}
                ]
           }
       })
    </script>
    
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
</body>
</html>